<app-modal *ngIf="image" (close)="onClose()">
  <div class="mb-2 flex items-center justify-between">
    <span class="font-semibold">Update Image</span>
    <span class="cursor-pointer" (click)="onClose()"
      ><img
        class="h-[24px] w-[24px]"
        src="../../../assets/images/close.svg"
        alt="close"
    /></span>
  </div>
  <div
    class="grid h-[60dvh] overflow-scroll md:h-auto md:min-h-[50dvh] grid-rows-[1fr,auto]grid-cols-1 md:grid-cols-3 gap-4"
  >
    <div class="md:col-span-1 aspect-square rounded md:min-h-[15rem]">
      <img
        class="h-full w-full object-cover"
        src="{{ image.imageUrl }}"
        alt="{{ image.imageName }}"
      />
    </div>
    <div class="md:col-span-2 pb-2">
      <div *ngIf="!isLoading" class="flex flex-col gap-4">
        <div class="flex mt-1 flex-col gap-2">
          <input
            class="border w-full p-1 rounded"
            type="text"
            [(ngModel)]="imageName"
            required
          />
          <div *ngIf="tags.length < 10" class="grid grid-cols-[1fr,auto] gap-2">
            <input
              class="border h-full w-full py-1 px-2 rounded"
              type="text"
              [(ngModel)]="tagValue"
              required
            />
            <button
              class="w-auto py-1 px-2 rounded bg-red-100 text-red-600 font-semibold"
              type="button"
              (click)="addTag()"
            >
              Add Tag
            </button>
          </div>
          <div class="flex gap-2">
            <span class="font-semibold">Tags: </span>
            <div class="flex gap-1 flex-wrap">
              <div
                class="text-[12px] flex gap-2 items-center bg-red-600 text-white rounded-full py-1 px-[1rem] pr-2"
                *ngFor="let tag of tags; let i = index"
              >
                <span>{{ tag }}</span>
                <span
                  class="cursor-pointer rounded-full flex items-center justify-center h-[15px] w-[15px] p-1 bg-white"
                  (click)="removeTag(i)"
                  ><img
                    src="../../assets/images/close.svg"
                    alt=""
                    class="h-[15px] w-[15px]"
                /></span>
              </div>
            </div>
          </div>
          <p class="text-[12px] text-red-700" *ngIf="tagError">
            Minimum one tag is required
          </p>
        </div>
        <input
          class="hidden"
          type="file"
          accept="image/png, image/jpeg, image/avif"
          (change)="onFileChange($event)"
          id="image"
        />
        <label
          *ngIf="!files.length"
          class="col-12 rmpm dropzone"
          appDrag
          (files)="filesDropped($event)"
          for="image"
          class="border-[2px] border-red-600 rounded border-dashed p-6 flex flex-col items-center justify-center"
        >
          <div>icon</div>
          <p class="text-slate-800 font-semibold">
            Drage your image here. or
            <span class="text-indigo-500">Browse</span>
          </p>
          <p class="text-gray-400 text-sm">Support jpg,png,jpeg</p>
        </label>
        <button
          class="bg-red-600 disabled:cursor-not-allowed disabled:bg-green-300 text-white font-semibold p-2 rounded"
          (click)="onImageUpdate()"
          [disabled]="imageName === '' || tags.length === 0"
        >
          Update
        </button>
      </div>
      <div *ngIf="isLoading"><app-loader></app-loader></div>
    </div>
  </div>
</app-modal>
